<html><head>
<title>Cursor Tutorial</title>
</head>
<style type="text/css">
<!--
	#r { color: red }
	#g { color: green }
	#b { color: blue }
Code { font-size: 16px; font-weight: bold }
-->
</style>
<body topmargin='0' leftmargin='0' marginwidth='0' marginheight='0' vlink=blue>
<br>
<center><font face='Times New Roman' id=r size = 6><b>
Cursor Sample
</font></center>


<font size=3>
<table cellspacing="10" width="100%">
<tr>
   <td>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='General'><b>General Information</b></a>
<hr size=5 id=b width='100%'><br>

<blockquote><code>
<font id=r><b>Syntax:  <i>codeID  resType  dataFile</i></b></font>
</code></blockquote>

Where <i><b>codeID</b></i> is an integer or string.
<br><br>

The <i><b>LoadResPicture</b></i> function uses 3 constants <i>(keywords)</i>:
<blockquote><code>
<ul type=square title="" compact>
<li>vbResBitmap  = 0
<li>vbResIcon    = 1
<li>vbResCursor  = 2
</ul>
</code></blockquote>

All other graphic formats must use a <i>user-defined <b>resType</b></i>
<br><br>
<hr size=5 id=b width='100%'><br>

The Resource Compiler (rc.exe) must have direct access to the 
 <i>dataFile</i> either by having the complete path, or having 
 the resource in the same folder.  <font id=r>When using the complete 
 path, there must be two slashes &quot;<b>\\</b>&quot; used after the 
 drive letter:  &quot;c:\\vb\resources.filename.xxx&quot;.</font>
<br><br>

<hr width='100%'><br>
Format for the precompile resource file (<i><b>filename.RC</b></i>) entry using an <b><i>Identifier</i></b>:
<br><br>

<blockquote><code>
<b><i><font id=r>Hand</font></i> CURSOR "hand.cur"</b>
</code></blockquote>

<br><br>

Usage in the program...
<br><br>

<blockquote><code>
<b><font color=gray>'Don't forget the Custom Property</font><br>
<font id=g>Picture1.MousePointer</font> = 99 <br>
<font id=g>Picture1.MouseIcon</font> = 
<font id=b>LoadResPicture</font></i>("Hand", 
<font id=b>vbResCursor</font>)</b>
</code></blockquote>
<br><br>

<hr width='100%'><br>
Format for the precompile resource file (<i>filename</i>.rc) entry using an 
<i><b>Index Number</b></i> and substituting the constant's value: <i>vbResCursor = 0</i>
<br><br>

<blockquote><code>
<b><i><font id=r>101</font></i> CURSOR "hand.cur"</b>
</code></blockquote>

<br><br>

In the program...
<br><br>

<blockquote><code>
<b><font id=g>Picture1.Picture</font> = 
<font id=b>LoadResPicture</font></i>(<i><font id=r>101</font></i>, 
2)</b>
</code></blockquote>
<br>

<tr><td></table>
</font>
</body>
</html>
